<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>
  
  
  <p>名前</p>
  <div class="field">
    <%= f.label "(性)" %><br />
    <%= f.text_field :first_name, autofocus: true, placeholder:"令和", autocomplete: "first_name" %>
  </div>
  
  <div class="field">
    <%= f.label "(名)" %><br />
    <%= f.text_field :last_name, placeholder:"道子", autocomplete: "last_name" %>
  </div>
  
  <p>フリガナ</p>
  <div class="field">
    <%= f.label "(セイ)" %><br />
    <%= f.text_field :first_name_kana, placeholder:"レイワ", autocomplete: "first_name_kana" %>
  </div>
  
  <div class="field">
    <%= f.label "(メイ)" %><br />
    <%= f.text_field :last_name_kana, placeholder:"ミチコ", autocomplete: "last_name_kana" %>
  </div>
  
  <p>メールアドレス</p>
  <div class="field">
    <%= f.email_field :email, placeholder:"sample@example.com", autocomplete: "email" %>
  </div>
  
  <p>郵便番号（ハイフンなし）</p>
  <div class="field">
    <%= f.text_field :postal_code, placeholder:"0000000", autocomplete: "postal_code" %>
  </div>
  
  <p>住所</p>
  <div class="field">
    <%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0", autocomplete: "address" %>
  </div>
  
  <p>電話番号（ハイフンなし）</p>
  <div class="field">
    <%= f.text_field :telephone_number, placeholder:"0000000000", autocomplete: "telephone_number" %>
  </div>

  <p>パスワード（6文字以上）</p>
  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <p>パスワード（確認用）</p>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
