<div class="container">
  <div class="row">
    <div class="col-md-2 bg-light text-center my-4">
      <h5>新規会員登録</h5>
    </div>
  </div>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>
  
  <div class="row">
    <div class="col-md-4">
      名前
      <%= f.label "(姓)", style: "float: right;" %>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.text_field :first_name, autofocus: true, placeholder:"令和", autocomplete: "first_name" %>
        <%= f.label "(名)", style: "float: right;" %>
       </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.text_field :last_name, placeholder:"道子", autocomplete: "last_name" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      フリガナ
      <%= f.label "(セイ)", style: "float: right;" %>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.text_field :first_name_kana, placeholder:"レイワ", autocomplete: "first_name_kana" %>
        <%= f.label "(メイ)", style: "float: right;" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.text_field :last_name_kana, placeholder:"ミチコ", autocomplete: "last_name_kana" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <p>メールアドレス</p>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.email_field :email, placeholder:"sample@example.com", autocomplete: "email" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <p>郵便番号（ハイフンなし）</p>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.text_field :postal_code, placeholder:"0000000", autocomplete: "postal_code" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <p>住所</p>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0", autocomplete: "address", size: "40" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <p>電話番号（ハイフンなし）</p>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.text_field :telephone_number, placeholder:"0000000000", autocomplete: "telephone_number" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <p>パスワード（6文字以上）</p>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <p>パスワード（確認用）</p>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4">
       <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-success px-3" %>
      </div>
    </div>
  </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-4 bg-light text-center my-2">
      <h5>既に登録済みの方</h5>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4 offset-md-1">
      <%= link_to "こちら", new_session_path(resource_name), class: "border-bottom border-info" %>からログインしてください。
    </div>
  </div>
</div>


