<div class="container-lg">
  <div class="row">
    <div class="col-2 bg-light text-center mb-2 ">
      <h5>注文履歴詳細</h5>
    </div>
  </div>
  
  <!--購入者の表示-->
  <div class="row mb-2">
    <div class="col-2">
      購入者
    </div>
    <div class="col-10">
      <%= link_to @order.customer.last_name + " " + @order.customer.first_name, admin_customer_path(@order.customer.id), class: "text-dark border-bottom border-dark" %>
    </div>
  </div>
  
  <!--注文日の表示-->
  <div class="row mb-2">
    <div class="col-2">
      注文日
    </div>
    <div class="col-10">
      <%= @order.created_at.strftime("%Y/%m/%d") %>
    </div>
  </div>
  
  <!--配達先の表示-->
  <div class="row mb-2">
    <div class="col-2">
      配送先
    </div>
    <div class="col-10">
      <%= @order.address %></br>
      <%= @order.name %>
    </div>
  </div>
  
  <!--支払い方法の表示-->
  <div class="row mb-2">
    <div class="col-2">
      支払方法
    </div>
    <div class="col-10">
      <%= @order.payment_method %>
    </div>
  </div>
  
  <!--注文ステータスの表示・更新-->
  <div class="row mb-2">
    <div class="col-2">
      注文ステータス
    </div>
    <div class="col-10">
      <!--orderscontrollerはadminにネストしているのでforom_withでパスの指示が必要-->
      <!--f.selectでenumに設定した項目をformで表示している-->
      <!--f.select :カラム名, モデル.カラム（複数形）.keys -->
      <%= form_with model:[:admin,@order], local:true do |f| %>
        <div class="form-group">
          <%= f.select :status, Order.statuses.keys %>
          <%= f.submit "更新", class: "btn btn-success ml-3" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <!--注文商品テーブル・商品合計・送料・請求合計-->
  <div class="row mb-2">
    <div class="col-9">
      <table class="table">
        <thead class="bg-light">
            <tr>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
                <th>制作ステータス</th>
            </tr>
        </thead>
        <tbody>
            <!--Orderに含まれるorderdetailの数だけ表示-->
            <% @order_details.each do |od| %>
            <tr>
                <td>
                    <%= od.item.name %>
                </td> 
                <td><%= (od.price).to_s(:delimited) %></td>
                <td><%= (od.amount).to_s(:delimited) %></td>
                <td><%= (od.price * od.amount).to_s(:delimited) %></td>
                <td>
                  <%= form_with model:[:admin,od], local:true do |f| %>
                    <div class="form-group">
                      <%= f.select :making_status, OrderDetail.making_statuses.keys %>
                      <%= f.submit "更新", class: "btn btn-success ml-3" %>
                    </div>
                  <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <table class="table table-borderless">
        <!--横向きテーブルの作成-->
        <thead>
            <tr><th>商品合計</th><td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %>円</td></tr>
            <tr><th>送料</th><td><%= (@order.shipping_cost).to_s(:delimited) %>円</td></tr>
            <tr><th>請求金額合計</th><td><%= (@order.total_payment).to_s(:delimited) %>円</td></tr>
        </thead>
    </div>
  </div>
  
  
</div>