<div class="container">
  <div class="row">
    <div class="col-auto bg-light text-center my-4">
      <h5>ジャンル一覧・追加</h5>
    </div>
  </div>
  
  <div class="row">
    <!--ジャンルの新規登録フォーム、model: [:admin,@genre]にするとエラーで下記にすると通った-->
    <%= form_with model: @genre, local:true do |f| %>
      <%= f.label :name, "ジャンル名", style: "width:120px" %>
      <%= f.text_field :name, :placeholder => "ジャンル名", style: "width:200px",class: "mr-4"  %>
      <%= f.submit "新規登録", class: "btn btn-success px-3" %>
    <% end %>
  </div>
  
  <!--ジャンル一覧テーブル表示-->
  <div class="row">
    <table class="table mt-5 col-5">
      <thead class="bg-light">
        <tr>
          <th class="pl-5">ジャンル</th><th></th>
        </tr>
      </thead>
      
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td><td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success px-3"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  
</div>