<div class="container-lg">
    <div class="row">
        <div class="col-2 bg-light text-center mb-2 ">
            <h5>注文履歴一覧</h5>
        </div>
    </div>
    <div class="row">
    <table class="table">
        <thead class="bg-light">
            <tr>
                <th>購入日時</th>
                <th>購入者</th>
                <th>注文個数</th>
                <th>注文ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
            <tr>
                <td>
                    <%= link_to order.created_at.strftime("%Y-%m-%d %H:%M:%S"), admin_order_path(order), class: "text-dark border-bottom border-dark" %>
                </td> 
                <td><%= order.customer.first_name + order.customer.last_name %></td>
                <!--概要：mapメソッドを使用して、１つの注文に対する各商品の注文個数の合計を返している-->
                <!--動き：１つのorderテーブルのレコードに関連するorder_detalsテーブル(order_idを持っている)の各amountを-->
                <!--動き２：mapが配列で返す(例：["1","2","3"])ので、その配列を合算すると注文個数が求められる。-->
                <td><%= order.order_details.map{ |od| od.amount }.sum %></td>
                <td><%= order.status %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
    
    <div class="row">
        <div class="mx-auto">
            <%= paginate @orders %>
        </div>
    </div>
</div>