<div class="container">
  <div class="row my-3">
    <div class="col-md-3 bg-light text-center mb-2">
      <h5>配送先登録/一覧</h5>
    </div>
  </div>
  
  <!--住所の新規登録-->
  <%= form_with model: @address, local:true do |f| %>
    <div class="row mt-3">
      <div class="col-md-3">
        <p>郵便番号(ハイフンなし)</p>
      </div>
      <div class="col-md-3">
        <%= f.text_field :postal_code, placeholder: "0000000" %>
      </div>
    </div>
    
    <div class="row mt-1">
      <div class="col-md-3">
        <p>住所</p>
      </div>
      <div class="col-md-6">
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "45" %>
      </div>
    </div>
    
    <div class="row mt-1">
      <div class="col-md-3">
        <p>宛名</p>
      </div>
      <div class="col-md-6">
        <%= f.text_field :name, placeholder: "令和道子" %>
      </div>
      <div class="col-md-2">
        <%= f.submit "新規登録", class: "btn btn-success px-2" %>
      </div>
    </div>
  <% end %>
  
  <!--登録済み住所一覧-->
  <div class="row">
    <div class="col-auto">
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th>郵便番号</th><th>住所</th><th>宛名</th><th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td>
                <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success px-2 mx-2" %>
                <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-danger px-2 mr-1" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>